body {
    text-align: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#first1 {
    font-size: 18.72px;
    font-weight: bold;
}

#second2 {
    font-size: 18.72px;
    font-weight: bold;
    position: absolute;
    top: 385px;
}

.container {
    text-align: left;
    margin-bottom: 50px;
    margin-top: 50px;
}

.numbers {
    position: absolute;
    font-size: 30px;
    left: 800px;
    font-weight: bold;
}

.numberss {
    position: absolute;
    font-size: 30px;
    left: -80px;
    font-weight: bold;
    top: 485px;
}

.number {
    margin: 0 80px;
}

.picture img {
    width: 170px;
    height: 200px;
    object-fit: cover;
    margin: 10px;
}

.picture {
    position: absolute;
    left: 870px;
    top: 250px;
    cursor: pointer;
}

.picturee {
    position: absolute;
    left: -9.5px;
    top: 542px;
    cursor: pointer;
}

.picturee img {
    width: 170px;
    height: 200px;
    object-fit: cover;
    margin: 10px;
}

#result1{
    position: absolute;
    top: 500px;
    font-size: 30px;
    font-weight: bold;
}

#result2{
    position: absolute;
    top: 790px;
    font-size: 30px;
    font-weight: bold;
}